@import '../styles/variables';

$theme-colors: (
    'primary': $color-brand,
    'secondary': $color-secondary,
);

@import 'bootstrap/scss/bootstrap';

.bi {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: -0.125em;
  fill: currentcolor;
}
